/* === GLOBAL STYLES === */

/* === Accent Colors === */

input[type=checkbox] {
	accent-color: $mainRed;
}

input[type=radio] {
	accent-color: $mainRed;
}

input[type=range] {
	accent-color: $mainRed;
}

progress {
	accent-color: $mainRed;
}

/* === General Styles === */

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: $regularGrayLightMode;
}


.site-body {

}

.site-content {
	position: relative;
	top: 0px;

	@mixin atMedium {
		position: initial;
		top: 25px;
	}

	@mixin atLarge {

	}
}

.site-intro {

}


/* === Heading Title Styles === */



/* === Image Styles === */

img {
	max-width: 100%;
	height: auto;
}

.img__fullwidth {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	margin: 2.0rem 0;
	padding: 0;
}

.img__centered {
	position: relative;
	display: block;
	width: calc(100%-2.0rem);
	height: auto;
	margin: 0 auto;
}

.img__left-aligned {
	position: relative;
	display: block;
	width: 80%;
	height: auto;
	text-align: left;
	margin: 2.0rem 0;
	padding: 0;
}

.img__right-aligned {
	position: relative;
	width: 80%;
	height: auto;
	text-align: right;
	margin: 2.0rem 0;
	padding: 0;
}



.img__project-main {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	margin: 2.0rem -1.0rem;
	padding: 0;
}




/* === Button Styles === */

.btn {
	font-size: 0.9rem;
	font-weight: 500;
	border-radius: 28px;
	border: none;
	margin: 1.25rem 0;
	margin-bottom: 2.0rem;
	padding: 0.75rem 1.0rem;


	&--gray {
		color: white;
		background-color: $middleGrayLightMode;
	}

	&--red {
		color: white;
		background-color: $mainRed;
	}

	&--white {
		color: $mainRed;
		background-color: white;
	}

	&--centered-aligned {
		position: relative;
		display: block;
		text-align: center !important;
		margin: 1.25rem auto;
		margin-bottom: 3.0rem;
	}

}
