/* === GLOBAL STYLES === */

/* === Accent Colors === */

input[type=checkbox] {
	accent-color: $mainRed;
}

input[type=radio] {
	accent-color: $mainRed;
}

input[type=range] {
	accent-color: $mainRed;
}

progress {
	accent-color: $mainRed;
}

/* === General Styles === */

html {
	background-color: $lightGrayLightMode;
}



body {
	font-family: 'system', 'San Francisco', 'Inter', sans-serif;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", 'Inter', Roboto, Ubuntu, sans-serif;
	font-size: 16px;
	color: $regularGrayLightMode;
}

/*
.outer-container {
	position: relative;
	display: block;
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;

	@mixin atMedium {

	}

	@mixin atLarge {

	}

}


.inner-container {
	position: relative;
	display: block;
	max-width: 1400px;
	width: 100%;
	margin: 0 auto !important;


	@mixin atMedium {

	}

	@mixin atLarge {

	}

}
*/


.site-body {



	@mixin atMedium {

	}

	@mixin atLarge {

	}

}

.site-main {


	@mixin atLarge {

	}

}


.site-content {

	padding-top: 8.0rem;
	padding-bottom: 2.5rem;;

	@mixin atMedium {
		position: initial;
		top: 25px;
	}

	@mixin atLarge {
		padding-top: 2.0rem;
		padding-bottom: 2.0rem;
	}

}




.site-intro {


	@mixin atLarge {

	}

}



.section-container {
	overflow: hidden;
	text-align: left;

	@mixin atLarge {

	}

}





/* === Heading Title Styles === */

h1 {

}



.site-title {
	position: relative;


	@mixin atMedium {


	}

	@mixin atLarge {

	}

}















/* === Image Styles === */

picture {
	position: relative;
	display: contents;
	max-width: 100%;
	width: auto;
	height: auto;
}



img {
	max-width: 100%;
	height: auto;
}

.img__fullwidth {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	margin: 2.0rem 0;
	padding: 0;
}

.img__centered {
	position: relative;
	display: block;
	width: calc(100%-2.0rem);
	height: auto;
	margin: 0 auto;
}

.img__left-aligned {
	position: relative;
	display: block;
	width: 80%;
	height: auto;
	text-align: left;
	margin: 2.0rem 0;
	padding: 0;
}

.img__right-aligned {
	position: relative;
	width: 80%;
	height: auto;
	text-align: right;
	margin: 2.0rem 0;
	padding: 0;
}



.img__project-main {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	margin: 2.0rem -1.0rem;
	padding: 0;
}




/* === Button Styles === */

button {
	font-size: 0.9rem;
	font-weight: 500;
	border-radius: 28px;
	border: none;
	margin: 0.25rem 0;
	margin-bottom: 2.0rem;
	padding: 0.75rem 1.0rem;
	cursor: pointer;

	@mixin atMedium {

	}

	&:hover {
		color: white !important;
		background-color: $mainRed !important;

		@mixin atMedium {

		}

	}

}

.btn {
	font-size: 0.9rem;
	font-weight: 500;
	border-radius: 28px;
	border: none;
	margin: 0.25rem 0;
	margin-bottom: 2.0rem;
	padding: 0.75rem 1.0rem;
	cursor: pointer;

	@mixin atMedium {

	}


	&--gray {
		color: white;
		background-color: $middleGrayLightMode;

		@mixin atMedium {

		}

		&:hover {
			color: white !important;
			background-color: $mainRed !important;

			@mixin atMedium {

			}

		}

	}

	&--red {
		color: white;
		background-color: $mainRed;
		@mixin atMedium {

		}

		&:hover {
			color: white !important;
			background-color: $middleGrayLightMode !important;

			@mixin atMedium {

			}

		}

	}

	&--white {
		color: $mainRed;
		background-color: white;

		@mixin atMedium {

		}

		&:hover {
			color: white !important;
			background-color: $mainRed !important;

			@mixin atMedium {

			}

		}

	}


}