/* === VARIABLES === */

/* --- Colors --- */
$lightGrayLightMode: #F5F5F5;
$regularGrayLightMode: #707070;
$middleGrayLightMode: #525050;
$mainRed: #A12528;
$mainRedInverted: #5edad7;
$lightGrayDarkMode: #D6D6D6;
$falseBlack: #1F1E1E;
$falseBlackInverted: #e0e1e1;
