/* === CONTACT FORMS === */
.contact-form-section {
	position: relative;
	width: 100%;
	margin: 0px 0px;
	padding: 4.5rem 0.25rem;

	@include atMedium {
		padding: 0.5rem 0.25rem;
	}
}


.contact-form-section__container {
	position: relative;
	width: 100%;
	padding: 4.5rem 0.25rem;

	@include atMedium {
		padding: 0.5rem 0.25rem;
	}
}


.contact-form-section__title {
	margin-bottom: 0.5rem;
}


.contact-form-section__text {
	font-size: 1rem;
	font-weight: 400;
}


.contact-form-section a {
	font-weight: 700;
}


.wpcf7-form {
	position: relative;
	max-width: 100%;
	width: 100%;
	padding: 0.5rem 0.25rem;
}


.contact-form-section__form {
	position: relative;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
/* 	background-color: rgba($color-white,0.8); */
	padding: 1rem 2rem;

	/* box-shadow: 0px 4px 11px -1px rgba(0,0,0,0.46);
	-webkit-box-shadow: 0px 4px 11px -1px rgba(0,0,0,0.46);
	-moz-box-shadow: 0px 4px 11px -1px rgba(0,0,0,0.46); */


	@include atMedium {
		padding: 2.5rem;
		padding: 0rem;
		/* margin: 2.5rem; */
	}

	&-heading {
		width: auto;
		display: inline-block;
		font-family: 'Inter', system-ui, sans-serif;
		font-size: 1.75rem;
		font-weight: 300;
		line-height: 3.6rem;
		color: $color-secondary;
		border-bottom: 2px solid $color-primary;
		margin-top: 2rem;
		margin-bottom: 1.0rem;
		padding-bottom: 0.05rem;
	}


	&-heading:first-of-type {
		margin-left: 0.25rem;
	}

}


.contact-form-section__form ::-moz-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	font-size: 0.8rem;
	font-weight: 100;
	opacity: 0.7; /* Firefox */
}

.contact-form-section__form :-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	font-weight: 100;
	font-size: 0.8rem;
	color: $color-primary;
	opacity: 0.7; /* Firefox */
}

.contact-form-section__form ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	font-weight: 100;
	font-size: 0.8rem;
	opacity: 0.7; /* Firefox */
}

.contact-form-section__form input:focus {
	outline: none;
}


.contact-form-section__form input {
	position: relative;
	width: calc(100% - 2rem);
	font-size: 1.8rem;
	line-height: 2.6rem;
	font-weight: 500;
	border: 1px solid $color-secondary;
	background: $color-white;
	margin-right: 2rem;
	padding: 0.75rem;
}

input[type=radio] {
	margin-right: 0.25em;
}


select {
	font-size: 1.8rem;
	line-height: 2.6rem;
	font-weight: 500;
	margin-bottom: 0.75rem;
}





.contact-form-section__form > div.column--half {
	flex: 100%;
	padding: 0.25rem;

	@include atMedium {
		flex: 48%;
		padding: 1rem;
	}
}


.contact-form-section__form > div.column--one-quarter {

	@include atMedium {
		flex: 23%;
		padding: 1rem;
	}
}


.contact-form-section__form > div.column--three-quarters {

	@include atMedium {
		flex: 73%;
		padding: 1rem;
	}
}


.contact-form-section__form > div.column--full {
	flex: 100%;
	padding: 0.25rem;

	@include atMedium {
		padding: 0rem;
		padding: 1rem;
	}

}


.contact-form-section__form-item {
	position: relative;
	max-width: 100%;
	width: calc(100% - 2rem );
	background-color: $color-white;
	box-shadow: none;
	border: none;
	padding: 1.5rem;
	margin: 0.5rem auto;

}


.contact-form-section__form label {
	position: relative;
	display: block;
	width: 100%;
	font-size: 1.5rem;
	line-height: 2.6rem;
	font-weight: 400;
	color: $color-secondary;
	margin-top: 1.5rem;
	margin-right: 2.0rem;
}


.wpcf7-list-item-label {
	position: relative;
	display: block;
	width: 100%;
	font-size: 2.6rem;
	line-height: 3.2rem;
	font-weight: 400;
	margin-top: 2.5rem;
}


.contact-form-section__form-item-property {
	position: relative;
	display: block;
	width: 100%;
	line-height: 1.4rem;
	background-color: transparent;
	box-shadow: none;
	border: none;
	padding: 0.25rem;
	/* border-bottom: 2px solid $mainBlue; */
	padding-bottom: 1.5rem;
	margin: 1.5rem auto;
}


.contact-form-section__form-item-error-type {
	position: relative;
	display: block;
	width: 100%;
	line-height: 1.4rem;
	color: $color-secondary !important;
	background-color: transparent;
	box-shadow: none;
	border: none;
	padding: 0.25rem;
	padding-bottom: 1.5rem;
	/* margin: 1.5rem auto; */
}


.contact-form-section__form-item-property .wpcf7-list-item {
	margin-left: 0rem;
	margin-right: 2rem;
}



.contact-form-section__form-item-activities .wpcf7-list-item-label {
		font-size: 1.5rem;
		line-height: 2.6rem;
}


.contact-form-section__form-item-gender {
	position: relative;
	display: block;
	width: 100%;
	line-height: 1.4rem;
	background-color: transparent;
	box-shadow: none;
	border: none;
	padding: 0.25rem;
	padding-bottom: 1.5rem;
	/* margin: 1.5rem auto; */
}





.contact-form-section__form-item-error-type .wpcf7-list-item {
	position: relative;
	width: fit-content;
	margin-left: 0rem;
	margin-right: 2rem;
}


.contact-form-section__form-item-error-description {
	font-size: 1.8rem;
	line-height: 2.6rem;
	font-weight: 400;
	min-height: 100px;
	background: $color-white;
	border: 1px solid $color-secondary;
/* 	padding: 1.5rem; */
}


.contact-form-section__form-item-error-type .wpcf7-list-item.first {
	margin-left: 0rem !important;
}


.contact-form-section__form-item-error-type .wpcf7-list-item label {
	display: flex;
}


.contact-form-section__form-item-error-type .wpcf7-list-item label .wpcf7-list-item-label {
	margin-top: 0;
}




.contact-form-section__form-item-error-type .wpcf7-list-item-label {
	width: fit-content;
	font-size: 1.4rem;
	line-height: 2rem;
}



.wpcf7-form-control-wrap {
	position: relative;
	display: inline-block;
	width: calc(100% - 2rem);
}


.wpcf7-form-control-wrap .wpcf7-acceptance {
	position: relative;
	display: inline-block;
	width: 100%;
}


.contact-form-section__form .wpcf7-acceptance .wpcf7-list-item .wpcf7-list-item-label {
	width: 100%;
	font-size: 1.4rem;
	line-height: 2.0rem;
	margin-left: 0rem !important;
}


.contact-form-section__form-item-dsgvo .wpcf7-acceptance .wpcf7-list-item {
	position: relative;
	display: inline-block;
	width: 100%;
	margin-left: 0.5rem !important;
}


.contact-form-section__form-label-dsgvo-acceptance {
	padding-left: -10px;
	margin-left: 0rem !important;
}


.contact-form-section__form-item-agb .wpcf7-list-item {
	margin-left: 0rem !important;
}


.contact-form-section__form-item-dsgvo-checkbox {
	line-height: 1.4rem;
}


.contact-form-section input[type=checkbox] {
	position: relative;
	width: auto;
	float: left;
	/* left: 0.5rem; */
	top: -2px;
	vertical-align: baseline;
	line-height: 1.4rem;
	border: 0px;
	margin-top: -2px !important;
	padding: 0rem;
	z-index: 0;
	-webkit-appearance: none;
}


.contact-form-section input[type=checkbox]::before {
	position: relative;
	width: 24px;
	height: 24px;
	border-radius: 0;
	border: 1px solid $color-secondary !important;
	background-color: transparent !important;
	display: block;
	content: "";
	float: left !important;
/* 	margin-right: 15px !important; */
/* 	left: -0.25rem !important; */
	z-index: 5 !important;
}


.contact-form-section input[type=checkbox]:checked:after {
	content: "";
	display: block;
	width: 6px !important;
	height: 20px !important;
	border: solid $color-primary !important;
	border-width: 0 2px 2px 0 !important;
	transform: rotate(45deg);
	position: absolute;
	top: 8px !important;
	top: 0px !important;
	/* left: -1px !important; */
	margin-left: 6px !important;
	margin-left: 9px !important;
}


.contact-form-section__form-label-topic {
	font-size: 0.8rem;
	font-weight: 300;
}


.contact-form-section select {
	position: relative;
	width: 100%;
	font-size: 1rem;
	line-height: 1.6rem;
	font-weight: 500;
	color: #ffffff;
	background-color: transparent !important;
	border: 2px solid $color-secondary !important;
	padding: 0.25rem 0.5rem;
}


.contact-form-section select:focus-visible {
	font-weight: 300 !important;
	color: $color-primary;
	background-color: #ffffff !important;
	border: 2px solid $color-primary !important;
	outline-style: none;
}


.contact-form-section__form-item-dsgvo-acceptance {
	position: absolute;
	display: inline-block;
	width: 92%;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.6rem;
	opacity: 1; /* Firefox */
	margin-top: -0.25rem;
	padding-left: 0.75rem;
}


.wpcf7-form-control .wpcf7-acceptance {
	line-height: 1.6rem;
	padding-left: 0.25rem;
}


.contact-form-section__form-item-dsgvo-acceptance a {
	font-weight: 500;
	font-size: 1rem;
	line-height: 1.6rem;
	opacity: 1; /* Firefox */
	text-decoration: none;
}


.contact-form-section__btn {
	position: relative;
	width: -webkit-fit-content !important;
	width: -moz-fit-content !important;
	width: fit-content !important;
	display: block;
	position: relative;
	display: inline-block;
	font-size: 1.6rem !important;
	line-height: 2.2rem !important;
	font-weight: 500 !important;
	color: $color-white !important;
	background-color: $color-secondary !important;
/*  	border: 2px solid $color-primary !important; */
	border-radius: 25px;
	text-decoration: none;
	margin-top: 2rem;
	margin-bottom: 2rem;
	margin-left: 1.0rem;
	padding: 0.75rem 1.5rem !important;


	@include atMedium {
		margin-top: 3.5rem !important !important;
		padding: 0.75rem 2.0rem !important !important;
	}
}


.contact-form-section__btn:hover {
	color: $color-white !important;
	background-color: $color-primary !important;
}



	img {
		position: relative;
		width: 100%;
	}




.wpcf7-not-valid-tip {
	width: calc(100% - 2rem);
	font-size: 1.2rem;
	color: $color-white;
	background-color: rgba($color-primary,0.99);
	margin-top: 0.5rem;
	padding: 0 0.5rem;
}