/* === LEASING CALCULATOR === */

#leasingForm {

}

.leasing-amount {

}

.leasing-amount__label {
	line-height: 1.6rem;
}

.leasing-amount__field {
	width: 25%;
	text-align: center;
	line-height: 1.6rem;
	margin-top: 1.0rem;
	margin-right: 0.5rem;
	margin-bottom: 1.0rem;
	margin-left: 0.5rem;
	padding: 0.25rem 0.5rem;
}


.leasing-amount__btn {
	margin-top: 1.0rem;
	margin-bottom: 1.0rem;
	padding: 0.75rem 2.0rem;
}


#leasingResult {

}


.leasing-calculator__container {
	& thead tr th:first-child,
	& tbody tr td:first-child {
		width: initial;
		min-width: initial;
		max-width: initial;
		word-break: break-all;
	}

}