/* === ABOUT US SECTION === */

.about-us {
	position: relative;
	width: 100vw;
	margin-left: -1.8rem;
	margin-right: -1.8rem;
	background-color: $color-white !important;
	margin-top: 1.0rem;
	margin-bottom: 1.0rem;
	padding: 18px;

	@include atMedium {
		width: unset !important;
		padding-left: 3.6rem;
		padding-right: 3.6rem;
	}
}


.about-us__headline {
	padding-left: 1.0rem;

	@include atMedium {
		padding-left: 1.0rem;
	}
}


.about-us__headline span {
	background-color: $color-white !important;
}