/* === SINGLE POST === */

.single-post {

	& .post-intro__wrapper {
		display: flex;
		align-items: center;
	}

	& .post-thumbnail__wrapper {
		width: 35%;
	}

	& .site-heading__wrapper {
		width: 65%;
	}





}


