/* === SITE-HEADER TOP === */

.site-header-top {
  position: absolute;
  top: 0px;
  display: flex;
  width: 100%;
  height: 8px;
  background-color: #525050;
  padding-left: 18px;
  padding-right: 18px;

  @include atMedium {
    height: 45px;
    font-size: 1.4rem;
    color: white;
    line-height: 2.0rem;

    position: fixed;
    top: 0px;
    z-index: 10000;
  }
}


.site-header-top__contact-information {
  display: none;

  @include atMedium {
    position: relative;
    width: 100%;
    display: flex;
/*     justify-content: flex-start; */
    justify-content: space-around;
    align-items: center;
    font-size: 1.0rem;
  }

  @include atLarge {
      position: relative;
      width: 100%;
      display: flex;
  /*     justify-content: flex-start; */
      justify-content: space-around;
      align-items: center;
      font-size: 1.4rem;
    }

}


.site-header-top__contact-information a,
.site-header-top__contact-information p {

  @include atMedium {
    font-size: 1.0rem;
  }

  @include atLarge {
    font-size: 1.4rem;
  }

}



@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
  .site-header-top__contact-information {
    font-size: 0.8rem !important;
  }
}

@media only screen and (min-device-width: 820px) and (max-device-width: 1180px) and (orientation:landscape) {
  .site-header-top__contact-information {
    font-size: 0.8rem !important;
  }
}


.site-header-top__contact-information-opening {
  position: relative;
  top: 2px;

  /*
  display: inline-flex;
  padding-right: 1.0rem;
  margin-right: auto;
  margin-left: auto;

  margin-right: 0;
  margin-left: 0;
  */
}


.site-header-top__contact-information-opening-link {
  display: inline-flex;
  flex-wrap: wrap;
  padding-right: 1.0rem;
  margin-right: auto;
  margin-left: auto;

  margin-right: 0;
  margin-left: 0;
}


.site-header-top__contact-information-opening-icon {
/*   display: inline; */
  padding-right: 0.5rem;

  @include atMedium {
    width: 8%;
    height: auto;
  }

  @include atLarge {
    width: initial;
    height: auto;
  }
}


.site-header-top__contact-information-opening-hours {
  color: $color-white;
  margin-bottom: initial;
}


.site-header-top__contact-information-opening-sign {
  display: none;
  width: 15px;
  height: 15px;
  line-height: 1.6rem;
  background-color: transparent;
  margin-top: 0.25rem;
  margin-right: 0.5rem;
  margin-left: 1.0rem;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
  .site-header-top__contact-information-opening-sign {
    margin-top: 1.15rem;
  }
}

@media only screen and (min-device-width: 820px) and (max-device-width: 1180px) and (orientation:landscape) {
  .site-header-top__contact-information-opening-sign {
    margin-top: 1.15rem;
  }
}


.opening-hours__state-open {
  background-color: $color-green;
  border-radius: 50%;
}


.opening-hours__state-closing {
  background-color: $color-orange;
  border-radius: 50%;
}


.opening-hours__state-closed {
  background-color: $color-red;
  border-radius: 50%;
}


.opening-hours__state-unclear {
  background-color: $color-yellow;
  border-radius: 50%;
}


.site-header-top__contact-information-address {
  display: inline-flex;
  padding-right: 1.0rem;
  margin-right: auto;
  margin-left: auto;

  margin-right: 0;
  margin-left: 0;
}


.site-header-top a.site-header-top__contact-information-address-link {

  @include atMedium {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-bottom: initial;
  }
}


.site-header-top__contact-information-address-icon {
  display: inline;
  padding-right: 0.5rem;

    @include atMedium {
      width: 8%;
      height: auto;
    }

    @include atLarge {
      width: initial;
      height: auto;
    }
}


.site-header-top__contact-information-address-data {
  display: inline;
  color: $color-white;
  margin-bottom: initial;
}


.site-header-top__contact-information-phone {
  display: inline-flex;
  padding-right: 1.0rem;
  margin-right: auto;
  margin-left: auto;

  margin-right: 0;
  margin-left: 0;
}


.site-header-top a.site-header-top__contact-information-phone-link {

  @include atMedium {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-bottom: initial;
  }
}


.site-header-top__contact-information-phone-icon {
  display: inline;
  padding-right: 0.5rem;

  @include atMedium {
    width: 15%;
    height: auto;
  }

  @include atLarge {
    width: initial;
    height: auto;
  }
}


.site-header-top__contact-information-phone-number {
  display: inline;
  color: $color-white;
  margin-bottom: initial;
}


.site-header-top__contact-information-mail {
  display: inline-flex;
  padding-right: 1.0rem;
  margin-right: auto;
  margin-left: auto;

  margin-right: 0;
  margin-left: 0;
}


.site-header-top a.site-header-top__contact-information-mail-link {

  @include atMedium {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background-color: none !important;
    margin-bottom: initial;
  }
}


.site-header-top__contact-information-mail-icon {
  display: inline;
  padding-right: 0.5rem;

  @include atMedium {
    width: 15%;
    height: auto;
  }

  @include atLarge {
    width: initial;
    height: auto;
  }
}


.site-header-top__contact-information-mail-address {
  display: inline;
  color: $color-white;
  background-color: transparent !important;
  margin-bottom: initial;
}


.site-header-top__contact-information-hotline {
  display: inline-flex;
  align-items: center;
  padding-right: 1.0rem;
  margin-right: auto;
  margin-left: auto;

  margin-right: 0;
  margin-left: 0;

  margin-bottom: initial !important;
}


.site-header-top a.site-header-top__contact-information-hotline-link {

  @include atMedium {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-bottom: initial !important;
  }
}


.site-header-top a.site-header-top__contact-information-hotline-link p {

  @include atMedium {
    margin-bottom: initial !important;
  }
}

.site-header-top__contact-information-hotline-icon {
  display: inline;
  padding-right: 0.5rem;

  @include atMedium {
    width: 30%;
    height: auto;
  }

  @include atLarge {
    max-width: 30px;
    width: initial;
    height: auto;
  }
}








.site-header-top__contact-information-hotline-number {
  display: inline;
  color: $color-white;
  margin-bottom: initial;
}


.site-header-top__contact-information-remote-support {
  display: inline-flex;
  align-items: center;
  padding-right: 1.0rem;
  margin-right: auto;
  margin-left: auto;

  margin-right: 0;
  margin-left: 0;
}


.site-header-top__contact-information-remote-support-link {

  @include atMedium {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-bottom: initial;
  }
}


.site-header-top__contact-information-remote-support-icon {
  display: inline;
  padding-right: 0.5rem;

  @include atMedium {
    width: 20%;
    height: auto;
  }

  @include atLarge {
    width: initial;
    height: auto;
  }
}


.site-header-top__contact-information-remote-support-url {
  display: inline;
  color: $color-white;
  margin-bottom: initial;
}


.site-header-top a {
  color: $color-white;
  text-decoration: none;
}




/* === iPad Air === */
@media only screen and (device-width: 820px) and (device-height: 1180px) and (orientation : portrait) {
  .site-header-top__contact-information a,
  .site-header-top__contact-information p {
    font-size: 0.8rem;
  }

  .site-header-top__contact-information-opening-icon {
    width: 8%;
    height: auto;
    padding-right: 0.5rem;
  }

  .site-header-top__contact-information-address-icon {
    display: inline;
    padding-right: 0.5rem;
    width: 8%;
    height: auto;
  }

  .site-header-top__contact-information-phone-icon {
    display: inline;
    padding-right: 0.5rem;
    width: 15%;
    height: auto;
  }

  .site-header-top__contact-information-mail-icon {
    display: inline;
    padding-right: 0.5rem;
    width: 15%;
    height: auto;
  }

  .site-header-top__contact-information-hotline-icon {
    display: inline;
    padding-right: 0.5rem;
    width: 30%;
    height: auto;
  }

  .site-header-top__contact-information-remote-support-icon {
    display: inline;
    padding-right: 0.5rem;
    width: 20%;
    height: auto;
  }

}