/* === SITE-FOOTER === */

.site-footer {
  position: relative;
  display: block;
  font-size: 0.9rem;
  color: $color-white;
  line-height: 1.6rem;
  text-align: center;
  letter-spacing: 0.05rem;
  /* margin-top: 4.0rem; */
}


/* .site-footer__container--gray {
  width: calc( 100% - 50px) !important;
  width: 100% !important;
  background-color: $color-white;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
}


.site-footer__container--gray a {
  color: $color-secondary;
}


.site-footer__container--gray .site-footer__navigation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  font-weight: 700;
  line-height: 2.6rem;
  color: $color-white;
  padding-top: 0.0rem;
}


.site-footer__container--gray .site-footer__navigation-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  width: 100%;
  font-size: 1.3rem;
  font-weight: 500;
  list-style-type: none;
  line-height: 3.6rem;
  padding-right: 25px;
  padding-left: 25px;

  @include atMedium {
    order: inherit;
    line-height: 5.0rem;
  }
} */


.site-footer__navigation-list a {
  text-decoration: none;
}


.site-footer__container--gray .site-footer__navigation-list-item {
  position: relative;
  color: $color-white;
  list-style-type: none;
  line-height: 1.8rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}


.site-footer__navigation-list .navbar-item:nth-of-type(1) {
  order: 1;
}


.site-footer__navigation-list .navbar-item:nth-of-type(2) {
  order: 3;

  @include atMedium {
    order: 2;
  }
}


.site-footer__navigation-list .navbar-item:nth-of-type(3) {
  order: 2;

  @include atMedium {
    order: 3;
  }
}


.site-footer__navigation-list .navbar-item:nth-of-type(4) {
  order: 4;
}


.site-footer__navigation-list .navbar-item:nth-of-type(5) {
  order: 5;
}




.site-footer__container--black {
  background-color: $color-black;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;

  @include atMedium {
    width: 100% !important;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}


.site-footer__row {

  @include atMedium {
    width: 100% !important;
    display: flex;
  }
}


.site-footer__container--black a {
  color: $color-white;
  text-decoration: none;
}


.site-footer__information {

  @include atMedium {
    display: flex;
    width: 90%;
  }
}


.site-footer__branding {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding-right: 2rem;
  padding-left: 2rem;


  @include atMedium {
    min-width: 340px;
    width: 25%;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2.0rem;
    text-align: left;
    padding-right: initial;
    padding-left: initial;
  }
}


.site-footer__container--black .site-footer__logo {
  margin: auto;

  @include atMedium {
    width: 100%;
    margin: initial;
  }

}


.site-footer__container--black .site-footer__logo-link {
  padding-right: inherit;
  padding-left: inherit;
}


.site-footer__container--black .site-footer__logo-link a {
  padding-right: inherit;
  padding-left: inherit;
}


.site-footer__apple-certificates {
  position: relative;
  max-width: 60%;
  width: 40%;
  text-align: center;
  margin: auto;
  margin-top: 10px;

  @include atMedium {
    max-width: initial;
    /* width: 100%; */
    width: 60%;
    margin: initial;
/*     margin-top: 4px; */
    /* margin-top: 10px; */
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
  }

}


/* .site-footer__apple-authorisierter-haendler {
  position: relative;
  max-width: 75%;
  margin-top: 3px;
  margin-right: 10px;
}


.site-footer__apple-authorisierter-service-provider {
  position: relative;
  max-width: 100%;
  margin-top: 15px;
  margin-right: 20px;
} */





.site-footer__contact {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  flex-grow: 0;     /* do not grow   - initial value: 0 */
  flex-shrink: 0;   /* do not shrink - initial value: 1 */
  flex-basis: 50%; /* width/height  - initial value: auto */
  width: 100% !important;
  font-size: 1.3rem;
  line-height: 2.4rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;

  @include atMedium {
    position: relative;
    /* width: 66% !important; */
    flex-wrap: nowrap;
    flex-direction: row;
    /* flex-basis: initial; */
    flex-basis: 60%;
    /* top: 225px
    top: 90px; */
    width: calc( 100% - 50px ) !important;
    text-align: left;
    font-size: 1.3rem;
    line-height: 2.4rem;
    padding-left: 4.5rem;
    padding-right: 0;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
  .site-footer__contact {
    width: 35%;
  }
}

@media only screen and (min-device-width: 820px) and (max-device-width: 1180px) and (orientation:landscape) {
  .site-footer__contact {
    width: 35%;
  }
}


.site-footer__contact a {
  font-weight: 600;
  text-decoration: none;
  color: $color-white;
  margin-left: 0.25rem;
}


.site-footer__contact-address {
  position: relative;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;

  @include atMedium {
    margin-top: initial;
    margin-bottom: initial;
  }

}


.site-footer__contact-address-icon {
  position: relative;
  display: inline;
  width: 20px;
  /* top: 5px; */
  top: 0px;
  padding-right: 0.25rem;

  @include atMedium {
    top: 0px;
  }
}


.site-footer__contact-address-title {
  position: relative;
  display: inline;
  text-decoration: underline;

  @include atMedium {
    font-weight: 500 !important
  }
}


.site-footer__contact-address-data {
  position: relative;
  display: block;
  font-weight: 400;
  color: $color-white;
  line-height: 2.6rem;
  margin-top: 0.5rem;
}


.site-footer__contact-information {
  position: relative;
  display: contents;
  width: 100%;

  @include atMedium {
    display: initial;
    width: 80%;
    line-height: 3.0rem !important;
  }
}


.site-footer__contact-information-phone {
  display: inline-flex;
  padding-right: 1.0rem;
  margin-right: auto;
  margin-left: auto;
}


.site-footer__contact-information-phone-icon {
  display: inline;
  width: 20px;
  padding-right: 0.25rem;
}


.site-footer__contact-information-phone-number {
}


.site-footer__contact-information-mail {
  display: inline-flex;
  padding-right: 1.0rem;
  margin-right: auto;
  margin-left: auto;
}


.site-footer__contact-information-mail-icon {
  display: inline;
  width: 20px;
  margin-top: -3px;
  padding-right: 0.25rem;
}


.site-footer__contact-information-mail-address {
}


.site-footer__contact-information-hotline {
/*   display: inline-flex; */
  padding-right: 1.0rem;
  margin-right: auto;
  margin-left: auto;
}


.site-footer__contact-information-hotline-icon {
  position: relative;
  display: inline;
  width: 20px;
/*   top: -8px; */
  top: 0px;
  padding-right: 0.25rem;
}


.site-footer__contact-information-hotline-link {
  line-height: 2.0rem;
}


/* .site-footer__contact-information-hotline-number .additional-info {
  position: relative;
  display: block;
} */


.site-footer__contact-opening {
  position: relative;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;

  @include atMedium {
    margin-top: initial;
    margin-bottom: initial;
  }
}


.site-footer__contact-opening-icon {
  position: relative;
  display: inline;
  width: 20px;
/*   top: 5px; */
  top: -2px;
  padding-right: 0.25rem;

  @include atMedium {
    top: 0px;
  }
}


.site-footer__contact-opening-title {
  position: relative;
  display: inline;
  text-decoration: underline;

  @include atMedium {
    font-weight: 700 !important;
  }
}



.site-footer__contact-opening-hours {
  position: relative;
  display: block;
  color: $color-white;
  line-height: 2.6rem;
  margin-top: 0.5rem;
}


.site-footer__social-media-area {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  width: 60%;

/*   width: 20%; */
/*   grid-template-columns: 1fr 1fr; */
  align-items: center;
  list-style-type: none;
  margin: -2.0rem auto 2.0rem auto;
  padding-left: 0;

  @include atMedium {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    width: 20%;
    height: 70%;
    align-items: start;
    margin-top: 0.2rem;
    margin-left: 2rem;
  }
}


.site-footer__social-media-area a {
    height: 100%;
    width: 100%;


  @include atMedium {
    position: relative;
    display: inline-block;
    height: 60%;
    width: 100%;
  }
}


img.site-footer__social-media-icon {

  @include atMedium {
    max-height: 100%;
    height: 100%;
    max-width: 100%;
    width: auto;
  }
}





.site-footer__vcard {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  text-align: left;

  flex-grow: 0;     /* do not grow   - initial value: 0 */
  flex-shrink: 0;   /* do not shrink - initial value: 1 */
  flex-basis: 50%; /* width/height  - initial value: auto */

  width: calc( 100% - 50px ) !important;

  font-size: 1.3rem;
  line-height: 2.4rem;

  margin: 1.5rem auto;

  padding-left: 2.5rem;
  padding-right: 2.5rem;

  @include atMedium {
    position: relative;
    display: block;
    width: 10% !important;

    flex-grow: initial;     /* do not grow   - initial value: 0 */
    flex-shrink: initial;   /* do not shrink - initial value: 1 */
    flex-basis: initial; /* width/height  - initial value: auto */

    margin: 1.5rem initial;

    padding-left: 0;
    padding-right: 0;
  }
}



.site-footer__vcard-link {
  position: relative;
  width: 100%;

  @include atMedium {
    width: 80%;
  }
}


.site-footer__vcard-img {
  position: relative;
  width: 60%;
  height: auto;
  margin: auto;

  @include atMedium {
    width: 60%;
    height: auto;
    margin: initial;
  }
}





/* ---------------> HIER GEHTS UM */

.site-footer__main-navigation-container {

  @include atMedium {
    width: 10%;
  }
}

@media only screen and (min-device-width: 820px) and (max-device-width: 1180px) and (orientation:landscape) {
  .site-footer__main-navigation-container {
    width: 70%;
  }
}


.site-footer__main-navigation {
  font-weight: 700;
  line-height: 2.0rem;
  color: $color-white;
  padding-top: 0.0rem;
  padding-left: 25px;
  padding-right: 25px;

  @include atMedium {
    /* position: relative; */
    display: flex;
    width: 100%;

    /* display: flex; */
    flex-wrap: wrap;
    flex-wrap: nowrap;


    flex-direction: row;

    text-align: left;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    flex-basis: initial;;

    /* justify-content: flex-start; */
    /* justify-content: center; */
    justify-content: flex-start;
    justify-content: space-evenly;

    margin-top: 1.5rem;
    /* margin-bottom: 3.5rem; */

    padding-left: 0;
    padding-right: 0;
  }
}


.site-footer__main-navigation:before {
  position: relative;
  display: block;
  width: 35%;
  height: 1px;
  background: rgba($color-full-black,0.5);
  content: "";
  margin: 25px auto;

  @include atMedium {
    display: none;
  }
}


.site-footer__main-navigation:after {
  position: relative;
  display: block;
  width: 35%;
  height: 1px;
  background: rgba($color-full-black,0.5);
  content: "";
  margin: 25px auto;

  @include atMedium {
    display: none;
  }
}


.site-footer__main-navigation-list {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: center;
  color: $color-white;
  text-align: center;
  list-style-type: none;
  padding-left: 0px;

  @include atMedium {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-basis: initial;
    justify-content: space-between;
    align-items: baseline;
    text-align: left;
    margin-top: initial;
    margin-bottom: initial;
  }
}


.site-footer__main-navigation-list li {
  margin-top: 1rem;
  margin-bottom: 1rem;

  @include atMedium {
    margin-top: initial;
    margin-bottom: initial;
    margin-bottom: 1.0rem;
  }
}




.site-footer__main-navigation-list a {
  font-size: 1.2rem;
  text-decoration: none;

  @include atMedium {
    font-size: 1.2rem;
    line-height: 2.2rem;
    margin-bottom: 2.0rem;
  }
}


.site-footer__main-navigation-list a:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
  -webkit-text-decoration-color: $color-primary;
          text-decoration-color: $color-primary;
}


.site-footer__main-navigation-list-item {
  position: relative;
  width: 100%;
  font-size: 1.8rem;
  line-height: 2.8rem;
  text-align: left;
  padding-top: 0.6rem;
  padding-top: 0.6rem;

  @include atMedium {
    max-width: 100%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    flex-basis: 50%;
    padding-left: inherit;
  }
}


.site-footer__main-navigation-list > .site-footer__main-navigation-list-item {
  width: 100%;

  @include atMedium {
    /* margin-right: 25px */
  }
}


.site-footer__main-navigation-list > .site-footer__main-navigation-list-item:first-of-type {

  @include atMedium {
    /* margin-left: 35%;
    margin-right: -15%; */
    margin-left: 20%;
    margin-right: -10%;
  }

}


.site-footer__main-navigation-list > .site-footer__main-navigation-list-item:last-of-type {

  @include atMedium {
    /* margin-left: 25% */
  }
}



.site-footer__main-navigation-list > .navbar-item:nth-of-type(2) {

  @include atMedium {
    /* position: relative;
    margin-top: 4rem; */
  }
}


.site-footer__main-navigation-list > .navbar-item:nth-of-type(4) a {

  @include atMedium {
    /* position: absolute;
    width: 100%;
    margin-top: 4rem; */
    margin-top: 0.0rem !important;
  }
}


.site-footer__main-navigation-list > .navbar-item:nth-of-type(4) a {

  @include atMedium {
    /* position: absolute;
    width: 100%;
    margin-top: 4rem; */
  }
}



.site-footer__main-navigation-list > .navbar-item:nth-of-type(5) a:hover {

  @include atMedium {
    /* position: absolute;
    width: 100%;
    margin-top: 6rem; */
    margin-top: 0.0rem !important;
    margin-bottom: 2.0rem;
  }
}



.site-footer__link-teamviewer {
  color: $color-white !important;
  background-color: $color-secondary;
  border-radius: 25px;
  padding: 0.75rem 2.0rem;

  @include atMedium {
   position: absolute;
   left: -2rem;
  }
}



.site-footer__copyright {
  position: relative;
  width: 75%;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 2.6rem;
  margin: 2.0rem auto;
  margin-bottom: 0px;
  padding-top: 2.0rem;
  padding-bottom: 2.0rem;

  @include atMedium {
    display: block;
    /* width: 100%; */
    width: 100%;
    bottom: 0px;
    margin: 0 auto;
    margin: initial;
    margin-top: 0;
    padding-top: 1.0rem;
    padding-bottom: 2.0rem;
  }
}


.site-footer__copyright span {
  font-size: 0.6rem;

  @include atMedium {
    font-size: 0.9rem;
  }
}