/* === Mode Switcher === */
.dark-mode {


	/* --- General Styles --- */
	filter: invert(100%);

	img {
		filter: invert(100%);
	}

	.site-main {
		background-color: $falseBlackInverted !important;
	}

	.btn--gray:hover {
		background-color: $mainRed !important;
	}




	/* --- Top Site Header --- */
	.site-header-top {
		filter: invert(100%);

		@mixin atMedium {
			margin-top: -45px;
			filter: invert(100%);
		}

	}

	.site-header-top__contact-information {
		filter: invert(100%);
	}

	.site-header-top p {
		filter: invert(90%);
	}


	.site-header-top a {
		filter: invert(90%);
	}

	.site-header-top__contact-information-opening-sign {
		filter: invert(100%);
	}


	.site-header-top__contact-information-opening-icon {
	}


	.site-header-top__contact-information-address-icon {
	}

	.site-header-top__contact-information-phone-icon {
	}

	.site-header-top__contact-information-mail-icon {
	}

	.site-header-top__contact-information-hotline-icon {
	}











	/* --- Site Header --- */
	.site-header {
		border-bottom: 3px solid $mainRedInverted !important;

	}


	.site-header__navi-contact-information {
		filter: invert(100%);
		color: white !important;
		background-color: $falseBlack !important;
	}


	.site-header .navbar-item--submenu-button:after {
		filter: invert(100%);
	}


	.site-header .navbar-item__submenu .navbar-item a:hover {
		filter: invert(100%);
	}


	#site-header__logo-img-light {
		display: none;
	}

	#site-header__logo-img-dark {
		display: inherit;
	}

	#site-header__apple-haendler-light {
		display: none;
	}

	#site-header__apple-haendler-dark {
		display: inherit;
	}


	/* --- Site Main --- */
	.site-main {

	}

	.card__title {
		filter: invert(100%);
	}

	.card__line--dotted {
		filter: invert(100%);
	}







	.product-categories__card {

	}

	.product-categories__card img {
		filter: invert(100%);
	}


	.product-categories__title {
		filter: invert(100%);
	}








	/* --- Site Footer --- */
	.site-footer {
		filter: invert(100%);
	}

	.site-footer__logo-link {
		filter: invert(100%);
	}

	.site-footer__apple-haendler {
		filter: invert(100%);
	}


	.site-footer__contact-address-icon {
		filter: invert(0%);
	}

	.site-footer__contact-address-icon img {
		filter: invert(0%);
	}


	.site-footer__contact-information-phone-icon {
		filter: invert(0%);
	}


	.site-footer__contact-information-mail-icon {
		filter: invert(0%);
	}



	.site-footer__contact-information-hotline-icon {
		filter: invert(0%);
	}


	.site-footer__contact-opening-icon {
		filter: invert(0%);
	}







	.site-footer__social-media-area {
		filter: invert(100%);
	}






	/* --- Back To Top Button --- */
	.back-to-top img {
		filter: invert(100%);
	}

}







@media (prefers-color-scheme: dark) {



}