/* === PRODUCT FAMILIES SECTION === */

.product-categories {



	@mixin atMedium {

	}


	&__headline {



		@mixin atMedium {

		}

	}

	&__intro {



		@mixin atMedium {

		}

	}

	&__container {
		position: relative;
		display: flex;
		flex: 2;
		flex-direction: row;
		flex-wrap: wrap;
		flex-basis: 50%;
		gap: 2%;
		flex-grow: 0;
		flex-shrink: 0;
		justify-content: space-around;
		align-items: flex-start;
		text-align: center;
		/* margin: 0.5rem; */
		/* padding: 0.25rem; */

		@mixin atMedium {
			flex: 5;
			flex-basis: 20%;
		}

	}


	&__card {
		position: relative;
		width: 45%;
		height: auto;

		@mixin atMedium {
			width: 18%;
		}

	}




	&__link {
		text-decoration: none;


		@mixin atMedium {

		}

	}

	&__picture {



		@mixin atMedium {

		}

	}

	&__img {
		position: relative;
		display: flex;
		max-width: 100%;
		width: auto;
		height: auto;
		bottom: -5px;


		@mixin atMedium {

		}

	}

	&__content {
		padding-bottom: 0.0rem;


		@mixin atMedium {

		}

	}

	&__title {
		color: $regularGrayLightMode;
		font-size: 0.9rem;
		font-weight: 700;
		margin-top: 0.25rem;
		margin-bottom: 0.25rem;

		@mixin atMedium {

		}

	}


}