/* === SERVICES SECTION === */
.services {
	position: relative;
	/* width: calc(100%+36px) !important; */
	width: 100vw;
	margin-left: -18px;
	color: white !important;
	background-color: black;
	margin-top: 1.0rem;
	margin-bottom: 1.0rem;
	padding: 18px;
	padding-left: 36px;


	@mixin atMedium {

	}

	& a {
		text-decoration: none;
	}


	&__intro {
		font-weight: 400;
	}


	&__headline {
		color: white;

		@mixin atMedium {

		}

	}


	&__headline span {
		background-color: black;

		@mixin atMedium {

		}

	}


	&__intro {


		@mixin atMedium {

		}

	}



	&__container {
		position: relative;
		width: 100%;
		display: flex;
		flex: 1;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 2%;
		flex-basis: 100%;
		flex-grow: 0;
		flex-shrink: 0;
		justify-content: space-around;

		align-items: flex-start;
		color: white !important;
		z-index: 1;
		/* margin: 0.5rem; */
		padding: 0.25rem;

		@mixin atMedium {
			flex: 2;
			flex-basis: 50%;
			margin: inherit;
			/* padding-top: 0.75rem; */
			padding-bottom: 1.5rem;

		}

	}


	&__card {
		position: relative;
		width: 100%;
		background-color: $falseBlack;
		padding-right: 0px !important;
		padding-left: 0px !important;
		padding: 0.0rem !important;


		@mixin atMedium {
			width: 48%;
		}

	}


	&__card-container {
		padding: 0 !important;

		@mixin atMedium {

		}

	}

	& > .card__container {
		padding: 0.0rem !important;
	}


	&__pretitle {
		color: white !important;
		padding-right: 18px !important;
		padding-left: 18px !important;

		@mixin atMedium {

		}

	}


	&__title {
		padding-right: 18px !important;
		padding-left: 18px !important;

		@mixin atMedium {

		}

	}

	&__title span {
		color: white;
		background-color: black;

		@mixin atMedium {

			}

	}


	&__link {
			margin: 0 -1%;;
			padding: 0;
			top: 0;
			left: 0;

			@mixin atMedium {

			}

		}


	&__content {
		display: flex;
		margin: 0;
		padding: 0;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;


		@mixin atMedium {

		}

	}



	&__thumbnail-container {
		position: relative;
		display: flex;
		width: 100%;
		margin: 0px;
		padding: 0px !important;

		@mixin atMedium {

		}

	}



	&__thumbnail {
		position: relative;
		width: 100%;
		object-fit: cover;
		margin: 0px;
		padding: 0px;

		@mixin atMedium {

		}

	}

	&__thumbnail--full {
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		margin-top: 2.0rem;
		margin-bottom: -25px;

		@mixin atMedium {

		}

	}


}