/* === SITE-HEADER TOP === */
.site-header-top {
  position: absolute;
  top: 0px;
  display: flex;
  width: 100%;
  height: 15px;
  background-color: $falseBlack;
  padding-left: 18px;
  padding-right: 18px;

  @mixin atMedium {
    height: 45px;
    font-size: 1.0rem;
    color: white;
    line-height: 1.6rem;
  }

  @mixin atLarge {

  }

    &__contact-information {
      display: none;

      @mixin atMedium {
        display: inherit;
        position: relative;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      @mixin atLarge {

      }
    }

    &__contact-information-opening {
      display: inline-flex;
      padding-right: 1.0rem;
      margin-right: auto;
      margin-left: auto;
    }

    &__contact-information-opening-icon {
      padding-right: 0.5rem;
    }

    &__contact-information-opening-hours {
      color: white;
    }

    &__contact-information-opening-sign {
      margin-top: 1.3rem;
      width: 15px;
      height: 15px;
      background-color: green;
      border-radius: 10px;
      margin-left: 1.0rem;
      margin-right: 0.5rem;
    }


    &__contact-information-address {
      display: inline-flex;
      padding-right: 1.0rem;
      margin-right: auto;
      margin-left: auto;
    }

    &__contact-information-address-icon {
      padding-right: 0.5rem;
    }

    &__contact-information-address-data {
      color: white;
    }


    &__contact-information-phone {
      display: inline-flex;
      padding-right: 1.0rem;
      margin-right: auto;
      margin-left: auto;
    }

    &__contact-information-phone-icon {
      padding-right: 0.5rem;
    }

    &__contact-information-phone-number {

    }

    &__contact-information-mail {
      display: inline-flex;
      padding-right: 1.0rem;
      margin-right: auto;
      margin-left: auto;
    }

    &__contact-information-mail-icon {
      padding-right: 0.5rem;
    }

    &__contact-information-mail-address {

    }

    &__contact-information-phone {
      display: inline-flex;
      padding-right: 1.0rem;
      margin-right: auto;
      margin-left: auto;
    }

    &__contact-information-call-icon {
      padding-right:0.5rem;
    }

    &__contact-information-call-number {

    }

    & a {
      color: white;
      text-decoration: none;
    }



  @mixin atLarge {


  }


}

