/* === SITE-HEADER === */
.site-header {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 1.6rem;
  height: auto;
  background-color: $lightGrayLightMode;
  margin-top: 15px;
  /* padding-left: 18px;
  padding-right: 18px; */
  z-index: 1 !important;

  @mixin atMedium {
    max-height: 95px;
    height: auto;
    background-color: white;
    margin-top: 45px;
    z-index: 1 !important;
  }

  &--is-active {
    background-color: rgba(white, 0.55);
  }

  @mixin atMedium {
    /* position: fixed; */
    top: 0px;
    background-color: rgba(white, 0.3);
  }

  @mixin atLarge {
    background-color: rgba(white, 1.00) !important;
    box-shadow: 0px 3px 22px -3px #000000;
    z-index: 1 !important;

    &--dark {
      background-color: rgba(white, 0.85) !important;
    }
  }

  &__branding {
    display: inline;
    width: 100%;
    padding-left: -18px;
    padding-right: -18px;

    @mixin atMedium {
      display: inline-flex;
      width: auto;
    }
  }

  &__logo {
    position: relative;
    display: inline-block;
    width: 60%;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: transform 0.3s ease-out;

    @mixin atMedium {
      width: auto;
      left: auto;
      transform: translateX(0);

      .site-header--dark & {
        transform: scale(0.85);
      }
    }
  }

  &__logo-img {
    position: relative;

    @mixin atMedium {
      width: auto;
    }

    @mixin atLarge {
      width: auto;
    }

  }

  &-logo__link {
    position: relative;
    display: block;
    margin-top: 0px;
  }

  &__apple-haendler {
    position: absolute;
    top: 15px;
    display: inline-block;
    width: 25%;
    line-height: 1.0rem;
    border-left: 1px solid $lightGrayDarkMode;
    margin-bottom: 20px;
    padding-bottom: 15px;
    padding-left: 15px;

    @mixin atMedium {
      position: relative;
      width: inherit;
      top: 20px;
      margin-bottom: 40px;
    }

    @mixin atLarge {

    }
  }

  &__apple-haendler-img {
    position: relative;
    line-height: 1.0rem;
    margin-top: 8px;

    @mixin atMedium {
      margin-top: 12px;
    }

    @mixin atLarge {

    }

  }

  &__navi-additional-area {
    display: none !important;

    @mixin atMedium {
      position: initial;
      display: inline-flex !important;
      width: auto;
      border-top: 0px;
      border-bottom: 0px;
      margin-top: 10px;
    }

    @mixin atLarge {

    }
  }


  &__navi-additional-area > div {

  }


  &__navi-contact-information {
    position: absolute;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    top: 62px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 2px solid $mainRed;
    border-bottom: 2px solid $mainRed;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 0.75rem;




    @mixin atMedium {
      display: none !important;
    }

    @mixin atLarge {

    }

    & a {
      color: $regularGrayLightMode;
      font-size: 0.9rem;
      font-weight: 700;
      text-decoration: none;
    }

  }


  &__navi-contact-information-phone {
    position: relative;
    width: 45%;
    line-height: 0.8rem;
  }

  &__navi-contact-information-phone-icon {
    width: 15px;
    padding-right: 0.25rem;
    padding-top: 1.5rem;

  }

  &__navi-contact-information-phone-number {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  &__navi-contact-information-mail {
    position: relative;
    width: 45%;
    line-height: 0.8rem;
  }

  &__navi-contact-information-mail-icon {
    width: 15px;
    padding-right: 0.25rem;
    padding-top: 1.5rem;
  }

  &__navi-contact-information-mail-address {

  }

  &__navi-contact-information-call {
    position: relative;
    width: 60%;
   line-height: 0.8rem;
   padding-bottom: 0.5rem;
  }

  &__navi-contact-information-call-icon {
    width: 15px;
    padding-right: 0.25rem;
    padding-top: 1.5rem;
  }

  &__navi-contact-information-number {

  }


  &__search  {
    position: relative;
    width: 10%;
    top: 5px;
    line-height: 0.8rem;
    padding-right: 15px;

    @mixin atMedium {
      width: auto;
      margin-top: 12px;
    }

  }

  &__search a  {
    padding-left: 18px;
    padding-right: 18px;
  }


  &__search img  {
    padding-left: 10px;
    padding-right: 10px;

    @mixin atMedium {
      width: 34px;
      padding-left: 18px;
      padding-right: 18px;

    }
  }



  &__mode-switcher  {
    position: relative;
    width: 10%;
    height: 28px;
    top: 10px;
    border-left: 1px solid $lightGrayDarkMode;
    margin-bottom: 0.25rem;
    padding-left: 0px;



    @mixin atMedium {
      width: 100%;
      height: 50px;
      border-left: 1px solid $lightGrayDarkMode;
      line-height: 1.0rem;
      margin-top: -0px;
      padding-left: 0px;
      padding-right: 0px;
    }
  }


  &__mode-switcher-link  {
    padding-left: 10px;
    padding-right: 10px;
  }


&__mode-switcher-link img  {
  position: relative;
  top: -2px;
  }




}

